################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug
/obj/x86/Debug
/recommenders-backend.csproj.user
/obj/x86/Release/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
/obj/x86/Release/recommenders-backend.csproj.AssemblyReference.cache
/UBB-SE-2024-Gaborment.csproj.user
