################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug
/obj/x86/Debug
/recommenders-backend.csproj.user
/UBB-SE-2024-Gaborment.csproj
/UBB-SE-2024-Gaborment.sln
/Sorting Algorithm
/recommenders-backend.csproj
